################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/DeepLeaning/v16/ipch/AutoPCH/e16c62c0460e59b7/DEEPLENAING.ipch
/.vs/DeepLeaning/v16/ipch/AutoPCH/4c96a22f36c797ad/NODE.ipch
/.vs/DeepLeaning/v16/ipch/AutoPCH/a80f565170ce6f6e/NODE.ipch
/.vs/DeepLeaning/v16/Browse.VC.db
/.vs/DeepLeaning/v16/ipch/AutoPCH/b7d4071e001da01d/WEIGHT.ipch
/DeepLenaing/.vs/DeepLenaing/v16/ipch/AutoPCH/320948ab4b4ffda1/NODE.ipch
/DeepLenaing/.vs/DeepLenaing/v16/ipch/AutoPCH/6dcd31a9ea7916b1/NODE.ipch
/DeepLenaing/.vs/DeepLenaing/v16/ipch/AutoPCH/857e66baf03b6931/NODE.ipch
/DeepLenaing/.vs/DeepLenaing/v16/ipch/AutoPCH/7dce69566efb62c2/NODE.ipch
/DeepLenaing/.vs/DeepLenaing/v16/ipch/AutoPCH/ec1836984a8892/WEIGHT.ipch
/DeepLenaing/.vs/DeepLenaing/v16/ipch/AutoPCH/fd0c67d38ce65d92/NODE.ipch
/DeepLenaing/.vs/DeepLenaing/v16/Browse.VC.opendb
/DeepLenaing/Debug/DeepLenaing.pdb
/DeepLenaing/Debug/DeepLenaing.ilk
/DeepLenaing/Debug/DeepLenaing.exe
/DeepLenaing/DeepLenaing/Debug/vc142.pdb
/DeepLenaing/DeepLenaing/Debug/vc142.idb
/DeepLenaing/DeepLenaing/Debug/Node.obj
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.vcxproj.FileListAbsolute.txt
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.tlog/link.write.1.tlog
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.tlog/link.read.1.tlog
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.tlog/link.command.1.tlog
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.tlog/DeepLenaing.lastbuildstate
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.tlog/CL.write.1.tlog
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.tlog/CL.read.1.tlog
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.tlog/CL.command.1.tlog
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.obj
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.log
/DeepLenaing/DeepLenaing/Debug/DeepLenaing.Build.CppClean.log
/DeepLenaing/.vs/DeepLenaing/v16/ipch/AutoPCH/d814bae4cff7dc16/NEURALNETWORK.ipch
